---
layout: default
---

<section>
  <h3 class="code">News</h2>

  <ul>
    <li>
      <div class="post-date code">
	<span>1 Nov 2019</span>
      </div>
      <div class="title">
	<a href="https://www.kth.se/nse/about-us">Starting as a Ph.D student at NSE</a>
      </div>
    </li>
    <li>
      <div class="post-date code">
	<span>30 Oct 2019</span>
      </div>
      <div class="title">
	<a href="https://www.gamesec-conf.org/">Attending the GameSec conference in Stockholm</a>
      </div>
    </li>
    <li>
      <div class="post-date code">
	<span>1 April 2019</span>
      </div>
      <div class="title">
	<a href="https://www.sysml.cc/doc/2019/demo_7.pdf">Our SysML ´19 demo paper is now available</a>
      </div>
    </li>
    <li>
      <div class="post-date code">
	<span>6 Dec 2018</span>
      </div>
      <div class="title">
	<a href="https://ieeexplore.ieee.org/document/8609589">Our IEEE/WIC/ACM ´18 paper is now available</a>
      </div>
    </li>
    <li>
      <div class="post-date code">
	<span>1 June 2018</span>
      </div>
      <div class="title">
	<a href="http://kth.diva-portal.org/smash/record.jsf?aq2=%5B%5B%5D%5D&c=15&af=%5B%5D&searchType=LIST_LATEST&sortOrder2=title_sort_asc&query=&language=sv&pid=diva2%3A1222945&aq=%5B%5B%5D%5D&sf=all&aqe=%5B%5D&sortOrder=author_sort_asc&onlyFullText=false&noOfRows=50&dswid=1766">I successfully defended my M.Sc., with thesis entitled "Deep Text Mining of Instagram Data Without Strong Supervision"</a>
      </div>
    </li>
  </ul>

   <h3 class="code">Blog Posts</h2>

	{% for post in site.posts %}
		{% unless post.next %}
			<h4 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h4 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date code">
					<span>{{ post.date | date: "%b %d" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}

</section>
