<div class="footer">
  <span class="block">&copy; 2019&mdash;{{ site.time | date: '%Y' }} <a href="https://twitter.com/KimHammar1">{{ site.author_name }}</a> <br> kimham[at]kth.se </span><br><a href="https://www.kth.se/profile/kimham/">www.kth.se/profile/kimham/</a>
  <div class="sharebuttons">
    <ul>
      <li class="twitter">
	<a href="https://twitter.com/KimHammar1" target="_blank">
	  {% include twitter.svg %}
	</a>
      </li>

      <li class="linkedin">
	<a href="https://www.linkedin.com/in/kim-hammar-9963aba6/" target="_blank">
	  {% include linkedin.svg %}
	</a>
      </li>

      <li class="github">
	<a href="https://github.com/Limmen" target="_blank">
	  {% include github.svg %}
	</a>
      </li>
    </ul>
  </div>
</div>
