<div class="sharebuttons">
  <ul>
    <li class="panel_link">
      <a href="https://limmen.github.io/">Blog</a>
    </li>
    <li class="panel_link">
      <a href="https://limmen.github.io/news">News</a>
    </li>
    <li class="panel_link">
      <a href="https://limmen.github.io/publications">Publications</a>
    </li>
    <li class="panel_link">
      <a href="https://limmen.github.io/talks">Talks</a>
    </li>
    <li class="panel_link">
      <a href="https://limmen.github.io/teaching">Teaching</a>
    </li>
    <li class="panel_link">
      <a href="https://limmen.github.io/code">Code</a>
    </li>
    <li class="panel_link">
      <a href="https://limmen.github.io/community">Community</a>
    </li>
    <li class="panel_link">
      <a href="https://limmen.github.io/about">About</a>
    </li>
  </ul>
</div>
