/* Share buttons */
.sharebuttons {
    margin: 0 auto 0 auto;
    border-bottom: none;
}

.sharebuttons a {
    border-bottom: none;
}

.sharebuttons ul a {
    border-bottom: none;
}

.sharebuttons ul {
  margin: 20px 0 0 0;
  text-align: center;
  margin-right:60px;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;
}

.sharebuttons ul li svg {
  width: 40px;
  height: 40px;
}

.sharebuttons .reddit svg {
  fill: #FF4500;
}

.sharebuttons .hn svg {
  fill: #F0652F;
}

.sharebuttons .twitter svg {
  fill: #1DA1F2;
}

.sharebuttons .linkedin svg {
  fill: #0077B5;
}
.panel_link {
    font-weight: 800;
    font-size: medium;
    margin: 10px;
}

.panel_link:hover {
    text-decoration: none;
    border-bottom: 4px solid black;
}
